h1 {
    color: darkblue;
}

.container {
    margin-left: 1%;
    border: 1px solid #EEE;
    width: 95%;
    height: 100%;
    -webkit-box-shadow: -9px -10px 10px 1px #CCC;
    -moz-box-shadow: -9px -10px 10px 1px #CCC;
    box-shadow: 9px 10px 10px 1px #CCC;
    background-color: #fff;
}
 
.small-input {
    margin-top: 2%;
    margin-left: 1%;
    display: inline;
    align-self: center;
} 

.mat-form-field{
    width: 16%; 
    padding-left: 1%;
}

.space-5-wrapper {
    margin-top: 2%;
    align-content: center;
    align-items: center;
    justify-content: center;
    place-content: center center;
}

#move-right{
    margin-left: 5px;
}

.force-right {
    margin-left: 2%;
    margin-bottom: 2%;
}

.mat-flat-button {
    background-color: rgb(2, 2, 206);
    flex-direction: row;
    color: white;
    height: 6vh;
    align-self: flex-end;
}