<h1 mat-dialog-title *ngIf="data.name == 0"><strong>Edit User</strong></h1>
<h1 mat-dialog-title *ngIf="data.name != 0"><strong>Edit {{data.name}}</strong></h1>
<div mat-dialog-content>
    <div *ngIf="data.name != 0">
        <div class="alert">
            <div class="example-container">
                <form [formGroup]="edit_user_deets">
                    <!-- First Name -->
                    <mat-form-field>
                        <input matInput type="text" placeholder="First Name" formControlName="firstname" required>
                    </mat-form-field>
            
                    <!-- Last Name -->
                    <mat-form-field>
                        <input matInput type="text" placeholder="Last Name" formControlName="lastname" required>
                    </mat-form-field>
            
                    <!-- Password -->
                    <mat-form-field >
                        <input matInput placeholder="Password" type="password" formControlName="password"  required>
                    </mat-form-field>
            
                    <!-- Re-enter Passowrd -->
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" type="password" formControlName="confirm_password" required>
                    </mat-form-field>
            
                    <!-- Email -->
                    <mat-form-field>
                        <input matInput type="text" placeholder="Email" formControlName="email">
                    </mat-form-field>
            
                    <!-- Phone -->
                    <mat-form-field>
                        <input matInput type="text" placeholder="Phone" formControlName="phone">
                    </mat-form-field> 
            
                    <!-- Company -->
                    <mat-form-field>
                        <mat-select placeholder="Company" formControlName="company" required>
                            <mat-option *ngFor="let element of companies" [value]="element.id">
                                {{ element.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <!-- isAdmin -->
                    <mat-checkbox type="hidden" formControlName="is_admin">Admin</mat-checkbox>
            
                    <!-- Submit Button -->
                    <button mat-raised-button color="primary" (click)="onSubmitEdit()" style="margin-left: 2%; margin-right:2%">Submit</button>
                    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
                </form>
            </div> 
        </div>
    </div>
    <div *ngIf="data.name == 0">
        <div class="alert">
            No User Selected
            <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
        </div>
    </div>
</div>