:host {
	background-color: #fff;
	padding-top: 8px;
	padding-left: 1%;
	box-shadow: 4px 4px 4px #CCC;
}
/* 
#sidebar a, ul, li {
	text-decoration: none;
	list-style: none;
}
#sidebar ul, li {
	padding: 5px;
}

#sidebar {
	align-content: center;
}

#sideButton {
	align-content: center;
}

button {
	background-color: #150199;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 19px;
	font-family: "Source Sans Pro", "Helvetica";
	color: #FFF;
	padding: 2%; 
}*/