<mat-nav-list class="sidenav">
		<a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
		<a mat-list-item [routerLink]="'/upload'"> Upload Scan</a>
		<a mat-list-item [routerLink]="'/assets'"> Assets</a>
		<a mat-list-item [routerLink]="'/companies'"> Companies </a>
		<a mat-list-item [routerLink]="'/vulns'"> Vulnerabilities </a>
		<a mat-list-item [routerLink]="'/man-asset'"> Upload Asset</a>
		<a mat-list-item [routerLink]="'/man-vul'"> Upload Vulnerability</a>
		<a mat-list-item [routerLink]="'/man-acc'"> User Management </a>
		<a mat-list-item [routerLink]="'/report'"> Report Generation </a>
</mat-nav-list>